$greyInactiveColor:  rgba(0, 0, 0, 0.1);
$greyActiveColor:  rgba(0, 0, 0, 0.2);
$focusedBlueColor: #3B7AF3;
$errorRedColor: #EB4A2A;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$grayColor: #F8F9FA;
$greenColor: #5D9E52;
$greenHoverColor: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #5D9E52;
$greenDisabledColor: rgba(93, 158, 82, 0.4);
$grayLightColor: #E5E5E5;
$blueColor: #197CFB;
$veryGrayLightColor: rgba(0, 0, 0, 0.04);
$grayBulletColor: #F2F2F2;
$darkGray: rgba(0, 0, 0, 0.64);
$lightGray4: rgba(0, 0, 0, 0.4)